.bg-transparent {
    background-color: transparent !important;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 300;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.pix-header-normal {
    width: 100%;
    left: 0;
    padding: 0;
}

.header-scroll {
    padding: 20px;
    -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1);
    transition: all .6s cubic-bezier(.165, .84, .44, 1);
    z-index: 998;
}
.sticky-top {
    top: 0;
    z-index: 1020;
}
.d-inline-block {
    display: inline-block !important;
}

body {
    /* letter-spacing: .01rem; */
    font-weight: 400;
    font-family: nunito, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    font-display: swap;
    margin: 0;
}

html {
    font-family: nunito, sans-serif !important;
    line-height: 1.15;
    overflow-x: hidden;
    width: 100%;
}

.nav-style-megamenu>li.nav-item .nav-link span {
    position: relative;
}

.navbar-light.navbar-nav.nav-link.text-body-default,
.text-body-default {
    color: #343434 !important;
}

.nav-style-megamenu>li.nav-item .nav-link {
    position: relative;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/*  */

.pix-header-text {
    position: relative;
    text-decoration: none;
}

.pix-header-text:before {
    content: '';
    background: #d18450;
    display: block;
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.2s ease-in-out;
}

.pix-header-text:hover::before {
    width: 100%;
}

.pix-header-mobile Link,
.pix-header-mobile Link:focus {
    outline: none !important;
    outline-color: initial !important;
    outline-style: none !important;
    outline-width: initial !important;
}

.btn-orange {
    color: white;
    background-color: #f90;
    border-color: #f90;
}

.btn.btn-orange:hover {
    color: white;
    background-color: rgb(213, 129, 4);
    border-color: rgb(200, 122, 4);
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 18px;
        border: 0px solid #ddd;
        box-shadow: 2px 2px 2px 2px rgba(28, 25, 25, 0.1);
        border-radius: 5px;
    }
}

.dropdown-toggle::after {
    content: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
}

.navbar-nav .nav-item {
    margin-right: 10px;
    margin-left: 15px;
}

.navbar-toggler {
    position: relative;
}

.navbar-toggler {
    border: none;
    border-width: 0px;
    box-shadow: 0 0 0 0 rgb(255, 254, 254);
    background-color: transparent;
    border-color: transparent;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
    border-width: 0px;
    border: none;
    outline: none;
    background-color: transparent;
    border-color: none;
}

.navbar-collapse{
    padding-left: 30px;
    margin-left: 100px;
}
